@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light.woff') format('woff'),
         url('../fonts/Roboto-Light.ttf') format('truetype'),
         url('../fonts/Roboto-Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto BoldCondensed';
    src: url('../fonts/Roboto-BoldCondensed.eot');
    src: url('../fonts/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-BoldCondensed.woff') format('woff'),
         url('../fonts/Roboto-BoldCondensed.ttf') format('truetype'),
         url('../fonts/Roboto-BoldCondensed.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto BoldCondensedItalic';
    src: url('../fonts/Roboto-BoldCondensedItalic.eot');
    src: url('../fonts/Roboto-BoldCondensedItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-BoldCondensedItalic.woff') format('woff'),
         url('../fonts/Roboto-BoldCondensedItalic.ttf') format('truetype'),
         url('../fonts/Roboto-BoldCondensedItalic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Medium.ttf') format('truetype'),
         url('../fonts/Roboto-Medium.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

