* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto Regular';
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
    list-style: none;
}
h2 {
    color: #2f2f2e;
    font-size: 12px;
    font-family: 'Roboto Medium';
}
button {
    cursor: pointer;
    outline: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap {
    margin: auto;
    width: 100%;
}
.icon_mdl {
    width: 35px;
    height: 35px;
    line-height: 31px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    position: relative;
}
.icon_mdl img {
    vertical-align: middle;
}
input[type="text"] {
    outline: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #D3D3D3;
    font-family: 'Roboto Light';
    font-size: 15px;
    color: #858585;
    padding-left: 12px;
    padding-right: 12px;
}
.btn,
a.btn {
    font-family: 'Roboto BoldCondensed';
    line-height: 52px;
    display: inline-block;
    font-size: 18px;
    color: #858585;
    text-decoration: none;
    background: #fff;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}
.btn_blue,
a.btn_blue {
    color: #fff;
    background: #348aee;
    border: none;
}
.btn_gray,
a.btn_gray {
    background: #323232;
    border: none;
    color: #fff;
}
/* Header
------------------------------------------------------------------------------------ */
.header_container {
    background: #000;
    padding: 5px 0;
}
.header_container .sports,
.header_container .step_name {
    height: 60px;
    background: url(../img/sports_bg.jpg);
    clear: both;
    text-align: center;
}
.header_container .step_name img {
    width: 15px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: 18px;
}
.header_container .step_name {
    text-transform: uppercase;
}
.header_container .step_name a {
    text-decoration: none;
    height: 60px;
    width: 100%;
    display: table;
}
.header_container .step_name a p {
    font-family: 'Roboto Bold';
    font-size: 18px;
    color: #d4d4d4;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding-left: 40px;
}
.header_container .sports a {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-left: 7px;
    margin-top: 13px;
}
.header_container .sports .icon_mdl img {
    width: 23px;
    height: 23px;
}
.header_container .sports a:first-child {
    margin-left: 0px;
}
header {
    background: #323232;
    border-top: 1px solid #686868;
    border-bottom: 1px solid #686868;
    height: 60px;
    padding: 0 3px;
    position: relative;
    text-align: center;
}
header .enter,
header .coupon,
header .money {
    float: left;
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
}
header .money {
    margin-left: 14px;
}
header .menu {
    float: left;
}
header .menu .show_menu {
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
    cursor: pointer;
}
.header_btns {
    float: right;
}
header .menu p,
.languages p,
header .enter p,
header .money p,
header .coupon p,
header .games_btn p {
    text-align: center;
    color: #bcbcbc;
    font-size: 9px;
    margin-top: 5px;
}
header .menu .icon_mdl img {
    width: 15px;
    height: 10px;
}
.languages .icon_mdl img {
    width: 20px;
    height: 20px;
}
header .money .icon_mdl img {
    width: 12px;
    height: 15px;
}
.languages p img {
    width: 7px;
    height: 6px;
}
header .enter .icon_mdl img {
    width: 21px;
    height: 21px;
}
header .coupon .icon_mdl img {
    width: 18px;
    height: 20px;
}
header .enter {
    margin-left: 14px;
}
header .coupon {
    margin-left: 20px;
}
.coupon .coupons_number {
    color: #fff;
    font-size: 12px;
    background: #4C83EF;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 10px;
    padding: 1px 3px;
    border-radius: 2px;
}
header .logo {
    margin-top: 12px;
    display: inline-block;
}
header .logo img {
    width: 90px;
    height: 23px;
}
header a {
    text-decoration: none;
}
.languages {
    float: left;
}
.languages .click_block,
.games_btn {
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    height: 60px;
    display: block;
}
.games_btn {
    float: left;
}
 .games_btn img {
    width: 25px;
    height: 18px;
 }
.languages .click_block.active {
    background: #242423;
}
.languages .hidden_flags {
    position: absolute;
    top: 60px;
    height: 60px;
    width: 100%;
    left: 0;
    background: #242423;
    display: none;
    z-index: 100;
    text-align: right;
}
.languages .hidden_flags .flag {
    margin-left: 18px;
    margin-top: 11px;
    display: inline-block;
}
.languages .hidden_flags a.flag:first-child {
    margin-left: 0px;
}
.languages .hidden_flags a.flag:last-child {
    margin-right: 0px;
}

/* Hidden menu
------------------------------------------------------------------------------------ */
header .hidden_menu {
    width: 265px;
    position: absolute;
    top: 0;
    left: 0;
    background: #323232;
    z-index: 150;
    text-align: left;
}
header .hidden_menu .top {
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 6px;
}
header .hidden_menu .top .icon_mdl {
    cursor: pointer;
    float: left;
}
header .hidden_menu .top .search {
    float: left;
    height: 35px;
    margin-left: 5px;
    width: 215px;
    padding-right: 27px;
    background:  url(../img/search_icon.png) right no-repeat, #fff;
    background-size: 26px 16px;
}
header .hidden_menu .nav {
    border-right: 1px solid #323232;
}
header .hidden_menu .nav .opens_popup {
    line-height: 30px;
    border-bottom: 1px solid #353534;
    padding-left: 11px;
    font-size: 15px;
    font-family: 'Roboto Regular';
    color: #d4d4d4;
    background: #3C3C3B;
    cursor: pointer;
}
header .hidden_menu .nav .opens_popup:after {
    content: '';
    width: 16px;
    height: 13px;
    overflow: hidden;
    background: url(../img/open_popup.png) no-repeat;
    background-size: 16px 26px;
    float: right;
    margin-top: 7px;
    margin-right: 6px;
}
header .hidden_menu .nav .opens_popup.change {
    color: white;
}
header .hidden_menu .nav .opens_popup.change:after,
header .hidden_menu .nav .opens_popup.change.open:after {
    content: '';
    background-position: 0 -13px;
}
header .hidden_menu .opens_popup_second {
    line-height: 30px;
    background: #4E4E4E;
    border-bottom: 1px solid #454545;
    font-size: 14px;
    color: #d4d4d4;
    font-family: 'Roboto Light';
    padding-left: 10px;
    position: relative;
    cursor: pointer;
}
header .hidden_menu .nav .opens_popup_second:after {
    content: '';
    width: 7px;
    height: 7px;
    overflow: hidden;
    background: url(../img/open_popup_second.png) no-repeat;
    background-size: 8px 14px;
    float: right;
    margin-top: 11px;
    margin-right: 8px;
}
header .hidden_menu .nav .opens_popup_second.change:after {
    content: '';
    background-position: 0 -7px;
}
header .hidden_menu .nav .opens_popup_second.acc_balance:after {
    content: '';
    width: 12px;
    height: 24px;
    overflow: hidden;
    background: url(../img/refresh_icon.png) no-repeat;
    background-size: 12px 14px;
    float: right;
    margin-top: 7px;
    margin-right: 6px;
}
header .hidden_menu .opens_popup_second span {
    position: absolute;
    line-height: 30px;
    left: 29px;
}
.header_container header span.acc_balance {
    color: #8bda00;
    position: static;
}
header .hidden_menu .opens_popup_second img {
    vertical-align: middle;
    width: 13px;
    height: 13px;
}

/* Form
------------------------------------------------------------------------------------ */
.enter_acc {
    padding: 0 5px;
    margin-bottom: 12px;
}
.enter_acc input[type="text"] {
    height: 42px;
    background: #FAFAFA;
    box-shadow: inset 1px 1px 8px #D3D3D3;
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
.enter_acc .forget_pass {
    color: #2f2f2e;
    font-size: 15px;
    display:  inline-block;
    margin-top: 9px;
    margin-left: 13px;
    margin-bottom: 5px;
    text-decoration: none;
    line-height: 15px;
    border-bottom: 1px solid #464645;
    box-shadow: inset 0 -1px #919190;

}
.reminder {
    font-size: 15px;
    color: #2f2f2e;
    padding: 0 12px;
    margin-top: 7px;
    margin-left: 4px;
}
.enter_acc .btns {
    margin-top: 12px;
}
.enter_acc .enter_btn,
.enter_acc .back_btn {
    width: 141px;
    float: left;
    position: relative;
    cursor: pointer;
}
.enter_acc .back_btn:before {
    content: '';
    background: url(../img/back_arrow.png);
    background-size: 15px 23px;
    position: absolute;
    width: 15px;
    height: 23px;
    left: 14px;
    top: 13px;
}
.enter_acc .reg_btn,
.enter_acc .continue_btn {
    width: 156px;
    float: right;
    cursor: pointer;
}
.enter_acc .home_btn {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.day_box,
.month_box {
    float: left;
    height: 50px;
}
.year_box {
    float: right;
    height: 50px;
}
.day_box {
    width: 28.8%;
}
.year_box,
.month_box {
    width: 35%;
}
.month_box {
    position: relative;
    left: 0.7%;
}
.enter_acc .rule_wrap {
    margin-top: 6px;
}
.enter_acc .rule_wrap h3 {
    height: 42px;
    background: #525252;
    font-size: 18px;
    color: #d4d4d4;
    font-family: 'Roboto Bold';
    text-transform: uppercase;
    line-height: 42px;
    padding-left: 15px;
}
.enter_acc .rule_wrap .rule_container {
    color: #2f2f2e;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #D2D2D2;
    background: #fff;
    padding: 10px 0 10px 11px;
    height: 122px;
}
.enter_acc .rule_wrap .rule {
    position: relative;
    height: 102px;
    outline: none;
}
.enter_acc .rule_wrap .rule_scroll {
    line-height: 15px;
    padding-right: 10px;
}
.enter_acc .agree_btn {
    width: 100%;
    background: #EF5911;
    border: none;
    height: 68px;
    border-radius: 3px;
    font-family: 'Roboto BoldCondensed';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 7px;
}
/* Failed messages
------------------------------------------------------------------------------------ */
.failed_messages {
    font-size: 15px;
    color: #2f2f2e;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    background: #FFFFDC;
    border: 1px dashed #585956;
    min-height: 31px;
    display: table;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 100%;
}
.failed_messages img {
    float: left;
    width: 42px;
    height: 37px;
}
.failed_messages p {
    display: table-cell;
    vertical-align: middle;
    line-height: 18px;
    width: 100%;
    padding-left: 15px;
}

/* Slider
------------------------------------------------------------------------------------ */
#slider,
#slider2 {
    height: 136px;
    width: 100%;
}
/* CONTAINER */
div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden;
}
div.orbit img {
    position: absolute;
    top: 0;
    left: 0;
    height: 136px;
    width: 100%;
}
div.orbit a img {
    border: none;
}
/* CAPTIONS */
div.caption {
    background: rgba(0,0,0,.6);
    width: 100%;
    z-index: 100;
    position: absolute;
    bottom:-100px;
    color: #fff;
    padding: 5px 6px 0 13px;
    height: 40px;
}
div.caption span {
    font-size: 7px;
}
div.caption span h2,
div.caption span h3 {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}
div.caption span h2 {
    font-family: 'Roboto BoldCondensedItalic';
}
div.caption span h3 {
    font-family: 'Roboto BoldCondensed';
    line-height: 30px;
    display: inline-block;
}
div.caption span p {
    font-size: 6px;
    color: white;
}
div.caption span a.more {
    float: right;
    height: 23px;
    line-height: 23px;
    background: #8bda00;
    padding: 0 11px;
    margin-top: 5px;
    font-family: 'Roboto BoldCondensed';
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}
.orbit-caption {
    display: none;
}

/* Tabs
------------------------------------------------------------------------------------ */
.tabs_section {
    background: #E7E7E7;
    padding-bottom: 10px;
}
.section_low {
    background: #F5F5F5;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    border-radius: 3px 3px 0 0;
}
.tabs_p {
    padding: 0 5px;
}
.tabs li.current {
    color: #444;
    background: #fff;
}
.tabs_low li.current:first-child {
    background: #EF5911;
    color: #fff;
}
.tabs_low li.current:last-child {
    background: #4C83EF;
    color: #fff;
}
.tabs li.current:after {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: #E7E7E7;
    position: absolute;
    bottom: -1px;
    left: 50%;
    margin-left: -8px;
}
.tab_info,
.box {
    display: none;
}
ul.tabs {
    padding-top: 1px;
}
ul.tabs_low {
    border: 1px solid #888888;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
}
.tabs li {
    float: left;
    font-family: 'Roboto Bold';
    display: inline;
    color: #d4d4d4;
    cursor: pointer;
    font-size: 18px;
    background: #323232;
    position: relative;
    line-height: 47px;
    width: 50%;
    height: 47px;
    text-transform: uppercase;
}
.tabs_low li {
    text-align: center;
    cursor: pointer;
    float: left;
    width: 50%;
    line-height: 32px;
    font-family: 'Roboto Regular';
    font-size: 15px;
    color: #2f2f2e;
}
.tabs li img {
    vertical-align: middle;
    margin-right: 9px;
    margin-left: 11px;
    margin-top: -3px;
    width: 25px;
    height: 25px;
}
.tabs li:first-child img {
    margin-left: 7px;
    margin-right: 5px;
}
.tab_info.visible,
.box.visible {
    display: block;
}
.rates_container {
    margin-top: 4px;
}
.rates_wrap {
    padding-top: 6px;
    background: #F5F5F5;
}
.rates_wrap h2 {
    padding-left: 8px;
    margin-bottom: 4px;
}
.rates_wrap .rate {
    border-top: 1px solid #E4E4E4;
    background: #fff;
    padding-top: 5px;
    padding-left: 9px;
    height: 52px;
}
.rates_wrap div.rate:last-child {
    border-bottom: 1px solid #E4E4E4;
}
.rates_wrap .rate .info {
    float: left;
}
.rates_wrap .rate .info .name {
    color: #2f2f2e;
    font-size: 9px;
    margin-bottom: 4px;
}
.rates_wrap .rate .info .score {
    color: #fe6c00;
    font-size: 9px;
}
.rates_wrap .rate .info .minutes,
.rates_wrap .rate .info .time {
    font-size: 9px;
    color: #99a3b1;
    margin-left: 6px;
}
.rates_wrap .rate .info .start {
    font-size: 9px;
    color: #99a3b1;
}
.rates_wrap .rate .info .start img {
    margin-right: 4px;
    width: 7px;
    height: 7px;
}
.coefficients {
    float: right;
    margin-right: 4px;
}
.coefficient {
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border-radius: 3px;
    background: -webkit-linear-gradient(top,#4FA2EF, #2B56CE);
    background: -moz-linear-gradient(top,#4FA2EF, #2B56CE);
    background: -ms-linear-gradient(top,#4FA2EF, #2B56CE);
    background: -o-linear-gradient(top,#4FA2EF, #2B56CE);
    background: -linear-gradient(top,#4FA2EF, #2B56CE);
    display: inline-block;
    margin-left: 1px;
    margin-top: 2px;
}
.large_coefficient {
    width: 98px;
    height: 68px;
    line-height: 9px;
    padding-top: 12px;
    margin: 0 1px 4px;
}
.large_coefficient p.name {
    font-family: 'Roboto BoldCondensed';
    font-size: 7px;
    color: white;
    text-transform: uppercase;
    height: 16px;
}
.large_coefficient p.coeff {
    font-size: 24px;
    margin-top: 15px;
}

/* Games
------------------------------------------------------------------------------------ */
.games_container {
    background: #2f2f2e;
    position: relative;
    border-bottom: 6px solid black;
}
.games_container .title {
    padding: 5px 8px;
    border-bottom: 1px solid white;
}
.games_container .title .icon_mdl {
    float: left;
    width: 35px;
    margin-right: 4px;
}
.games_container .title .icon_mdl img {
    width: 25px;
    height: 18px;
}
.games_container .title h1 {
    font-family: 'Roboto Bold';
    font-size: 18px;
    line-height: 35px;
    color: #d4d4d4;
    text-transform: uppercase;
}

/* Coupone page
------------------------------------------------------------------------------------ */
.main_tab_container {
    width: 100%;
    margin: auto;
    padding: 5px 5px 10px;
}
.coupone_container table.designation {
    background: #f6f6f6;
    margin-bottom: 5px;
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 25px;
    padding-left: 14px;
}
.coupone_container table.designation tr td {
    font-family: 'Roboto Medium';
    font-size: 9px;
    color: #2f2f2e;
}
.coupone_container .rate {
    width: 100%;
}
.coupone_container .rate .rate_name {
    width: inherit;
    background: white;
    height: 38px;
    font-family: 'Roboto Medium';
    font-size: 12px;
    color: #2f2f2e;
    line-height: 38px;
    text-align: center;
    border: 1px solid #ececec;
}
.coupone_container .rate table.rate_info {
    width: 100%;
    background: #d9fa74;
    padding: 5px 0px 5px 12px;
    position: relative;
    border-bottom: 1px solid #adadad;
    margin-bottom: 4px;
}
.coupone_container .rate table.rate_info tr td h5 {
    font-family: 'Roboto Bold';
    font-size: 15px;
    color: #2f2f2e;
}
.coupone_container .rate table.rate_info tr td p {
    font-family: 'Roboto Regular';
    font-size: 12px;
    color: #2f2f2e;
}
.coupone_container .rate table.rate_info tr td a.close {
    width: 20px;
    height: 20px;
    background: url(../img/close_icon.png) no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: 2px;
    right: 2px;
}
.coupone_container .rate table.rate_info tr td:first-child,
.coupone_container table.designation tr td:first-child {
    width: 40%;
}
.coupone_container .rate table.rate_info tr td:nth-child(2),
.coupone_container table.designation tr td:nth-child(2) {
    width: 15%;
}
.coupone_container .rate table.rate_info tr td:nth-child(3),
.coupone_container table.designation tr td:nth-child(3) {
    width: 17%;
}
.coupone_container .rate table.rate_info tr td:last-child,
.coupone_container table.designation tr td:last-child {
    width: 28%;
}

#number {
    width: 48px;
    height: 63px;
    background: #f4f4f4;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 2px;
}
#number input {
    width: 100%;
    height: 20px;
    outline: none;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    color: #2f2f2e;
    border-radius: 0px;
    border: none;
    background: none;
    border-top: 1px solid #e2e3e2;
    border-bottom: 1px solid #e2e3e2;
    padding: 0 5px;
}
#number span.minus,
#number span.plus {
    width: 100%;
    background: white;
    display: block;
    cursor: pointer;
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
}
#number span.minus {
    border-radius: 0 0 2px 2px;
}
#number span.plus {
    border-radius: 2px 2px 0 0;
}
#number span.minus img,
#number span.plus img {
    width: 9px;
    height: 9px;
}

.coupone_container .cancel_rate {
    width: 100%;
    height: 54px;
    background: #2f2f2e;
    border-bottom: 1px solid #adadad;
    padding: 0 4px 0 12px;
    margin-top: 10px;
}
.coupone_container .cancel_rate p {
    font-family: 'Roboto Bold';
    font-size: 15px;
    color: #bcbcbc;
    line-height: 54px;
    display: inline-block;
}
.coupone_container .cancel_rate p span {
    color: white;
    margin-left: 18px;
}
.coupone_container .cancel_rate a.cancel {
    float: right;
    height: 22px;
    line-height: 22px;
    background: #8c8c8c;
    font-family: 'Roboto BoldCondensed';
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 6px;
    margin-top: 15px;
    border-radius: 3px;
}

.coupone_express_container .rate table.rate_info {
    background: #cbedfc;
}
.coupone_express_container table.designation tr td:first-child,
.coupone_express_container .rate table.rate_info tr td:first-child {
    width: 70%;
}
.coupone_express_container .cancel_rate {
    background: none;
    border: none;
    height: 22px;
    margin: 8px 0;
}
.coupone_express_container .cancel_rate a.cancel {
    margin: 0;
}
.coupone_express_container table.total_coefficient {
    width: 100%;
}
.coupone_express_container table.total_coefficient tr {
    padding: 5px 0px 5px 12px;
}

.coupone_express_container table.total_coefficient thead {
    background: #348aee;
    height: 38px;
}
.coupone_express_container table.total_coefficient thead tr td {
    font-family: 'Roboto Bold';
    font-size: 15px;
    color: white;
    border-bottom: 1px solid #adadad;
    padding: 8px 0;
}
.coupone_express_container table.total_coefficient thead tr td p.summ {
    text-align: left;
    margin-right: 10px;
}
.coupone_express_container table.total_coefficient tbody {
    background: white;
}
.coupone_express_container table.total_coefficient tbody tr td {
    padding: 5px 0;
}
.coupone_express_container table.total_coefficient tbody tr td #number {
    float: left;
    margin-right: 15px;
}
.coupone_express_container table.total_coefficient tbody tr td p {
    font-size: 15px;
    color: #2f2f2e;
    text-transform: uppercase;
}
.coupone_express_container table.total_coefficient tbody tr td:last-child p {
    float: left;
    line-height: 60px;
}
.coupone_express_container table.total_coefficient tr td:first-child {
    width: 72%;
    padding-left: 12px;
}
.coupone_express_container table.total_coefficient tr td:last-child {

}

.no_pb {
    padding-bottom: 0;
}
.rate_done_container {
    padding: 5px;
    background: white;
}
.rate_done_container .failed_messages {
    margin: 0;
}
.rate_done_container .btn {
    display: block;
    margin: 15px auto;
    width: 192px;
}

/* Match page
------------------------------------------------------------------------------------ */
.versus_top p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Bold';
    font-size: 18px;
    color: white;
    line-height: 30px;
}
.versus_top .versus_img {
    width: 100%;
    height: 65px;
}
.versus_top .versus_img img {
    width: inherit;
    height: inherit;
}
.versus_top .versus_sport {
    height: 28px;
    background: #494949;
}
.versus_top .versus_date {
    height: 30px;
    background: #202020;
}
.versus_bot .versus_main {
    padding: 9px 18px;
    display: table;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ececec;
}
.versus_bot .versus_main h1,
.versus_bot .versus_main p {
    font-family: 'Roboto BoldCondensed';
    text-transform: uppercase;
}
.versus_bot .versus_main h1 {
    width: 140px;
    text-align: center;
    font-size: 39px;
    color: #8bda00;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    left: 50%;
    margin-left: -70px;
}
.versus_bot .versus_main p {
    font-size: 15px;
    color: #2f2f2e;
    display: table-cell;
    width: 92px;
    text-align: center;
}
.versus_bot .versus_stat_fav {
    padding: 10px 6px;
}
.versus_bot .versus_stat_fav a {
    font-family: 'Roboto Bold';
    font-size: 12px;
    color: #bcbcbc;
    text-transform: uppercase;
    text-decoration: none;
}
.versus_bot .versus_stat_fav a:hover {
    color: #1380dd;
}
.versus_bot .versus_stat_fav a:before {
    content: '';
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 5px;
}
.versus_bot .versus_stat_fav a.stat {
    float: left;
    margin-top: 6px;
}
.versus_bot .versus_stat_fav a.stat:before {
    background: url(../img/versus_stat.png) no-repeat;
    background-size: 25px 53px;
    margin-top: -6px;
}
.versus_bot .versus_stat_fav a.fav {
    width: 105px;
    float: right;
}
.versus_bot .versus_stat_fav a.fav:before {
    background: url(../img/versus_fav.png) no-repeat;
    background-size: 25px 53px;
}
.versus_bot .versus_stat_fav a.stat:hover:before,
.versus_bot .versus_stat_fav a.fav:hover:before {
    background-position: 0 -28px;
}

.match_container {
    border-bottom: 1px solid white;
}
.match_container p.title {
    background: #f6f6f6;
    padding: 7px 14px;
    margin-bottom: 5px;
    font-family: 'Roboto Medium';
    font-size: 9px;
    color: #2f2f2e;
    border: 1px solid #e5e5e5;
}
.match_container .match_games {
    text-align: center;
}
.match_container .match_score {
    background: white;
}
.match_container .match_score .match {
    height: 25px;
    border-bottom: 1px solid #ececec;
}
.match_container .match_score .match .coefficient {
    height: 24px;
    width: 48px;
    line-height: 24px;
    float: right;
    margin: 0;
    border-radius: 6px;
}
.match_container .match_score .match p {
    float: left;
    font-size: 15px;
    color: #2f2f2e;
    line-height: 24px;
}
.match_container .match_score .match .left_score,
.match_container .match_score .match .right_score {
    width: 50%;
    padding-left: 14px;
}
.match_container .match_score .match .left_score {
    float: left;
}
.match_container .match_score .match .right_score {
    float: right;
}



/* Accordion in tab
------------------------------------------------------------------------------------ */
.tab_accordion h2,
.tab_accordion .hidden_list li {
    border-bottom: 1px solid #E4E4E4;
}
.tab_accordion h2 {
    line-height: 25px;
    position: relative;
    padding-left: 27px;
    color: #2f2f2e;
    font-family: 'Roboto Medium';
    cursor: pointer;
}
.tab_accordion h2:before {
    content: '';
    width: 15px;
    height: 14px;
    background: url(../img/tab_accord_arrow.png);
    background-size: 15px 14px;
    position: absolute;
    left: 7px;
    top: 5px;
}
.tab_accordion .hidden_list li {
    font-size: 9px;
    color: #2f2f2e;
    background: #fff;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
}

/* help
------------------------------------------------------------------------------------ */
.search_form {
    padding: 0 5px;
    margin-bottom: 10px;
}
.search_form .reminder {
    padding-left: 0;
}
.search_form .search {
    height: 41px;
    padding-right: 27px;
    background: url(../img/search_icon.png) right no-repeat, #FAFAFA;
    background-size: 26px 16px;
    box-shadow: inset 1px 1px 8px #D3D3D3;
    margin-top: 12px;
}
.search_accordion {
    margin-top: 7px;
    border-top: 1px solid #E4E4E4;
}
.search_accordion h2,
.search_accordion .hidden_list li {
    border-bottom: 1px solid #E4E4E4;
}
.search_accordion .hidden_list li {
    border-left: 1px solid #EBEBEB;
    border-right: 1px solid #EBEBEB;
    font-size: 9px;
    color: #2f2f2e;
    background: #fff;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 25px;
    position: relative;
    min-height: 25px;
    line-height: 20px;
}
.search_accordion .hidden_list li .icon_img {
    position: absolute;
    left: 4px;
    margin-left: 0;
    top: 4px;
}
.search_accordion .hidden_list li img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-left: 8px;
}
.search_accordion h2 {
    font-family: 'Roboto Medium';
    line-height: 25px;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    background: #F5F5F5;
    color: #2f2f2e;
}
.search_accordion h2:before {
    content: '';
    width: 15px;
    height: 14px;
    background: url(../img/search_accord_arrow.png);
    background-size: 15px 14px;
    position: absolute;
    left: 7px;
    top: 5px;
}

/* Footer
------------------------------------------------------------------------------------ */
footer ul {
    list-style: none;
    border-top: 1px solid white;
}
footer ul li {
    height: 22px;
    background: #e8e8e8;
    border-bottom: 1px solid white;
    padding-left: 14px;
    cursor: pointer;
}
footer ul li:last-child {
    border-bottom: none;
}
footer ul li img {
    float: left;
    margin: 5px 5px 0 0;
    width: 6px;
    height: 11px;
}
footer ul li p {
    line-height: 22px;
    font-size: 9px;
    color: #2f2f2e;
}
footer .footer_home {
    height: 59px;
    background: #2f2f2e;
    box-shadow: inset 0 1px 0 #686868,
                inset 0 -1px 0 #686868;
    position: relative;
}
footer .footer_home .languages {
    float: right;
    margin-right: 12px;
}
footer .footer_home .languages .click_block {
    height: 59px;
    text-decoration: none;
}
footer .footer_home .languages .hidden_flags {
    top: 59px;
}
footer .footer_home button {
    margin-top: 15px;
    margin-left: 12px;
    padding: 0 20px;
    background: #767676;
    height: 28px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}
footer .footer_bottom {
    background: #f1f1f1;
    padding: 11px 12px;
    min-height: 60px;
}
footer .footer_bottom p {
    font-size: 7px;
    color: #2f2f2e;
}
footer .footer_bottom p.address {
    margin-bottom: 10px;
}
footer .footer_bottom p a {
    color: #cd3f00;
}
